.post-description-container, .post-price-container {
    padding: var(--short-separation);
}

.description-container {
    padding: var(--long-separation) 0;
}

.description-title {
    margin: 0;
    color: var(--secondary-color);
    padding-bottom: var(--short-separation);
}

.description-text {
    height: 44px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}