.container {
    background-color: var(--container-color);
    border-radius: var(--border-radius);
}

.decoration-plan{
    border-top: 2px solid red;

    &.SUPERHIGHLIGHTED{
        border-color: violet;
    }
    &.HIGHLIGHTED{
        border-color: green;
    }
    &.SIMPLE{
        border-color: rgba(255, 00, 00, 0);
    }
}
  
.favorite {
    background-color: salmon;
}

.without-link-styles {
    text-decoration: none;
    color: initial;
}

.price {
    font-weight: bold;
    font-size: 1.5em;
}

.post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-special-text {
    font-size: 0.9em;
}