.container {
    background-color: var(--container-color);
    border-radius: var(--border-radius);
}

.decoration-plan{
    border-top: 2px solid red;

    &.SUPERHIGHLIGHTED{
        border-color: violet;
    }
    &.HIGHLIGHTED{
        border-color: green;
    }
    &.SIMPLE{
        border-color: rgba(0, 0, 0, 0); //transparente, sin borde queda distinto
    }
}

.favorite-container {
    background-color: var(--container-color);
    border-radius: 500px;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.favorite {
    color: salmon;
}

.without-link-styles {
    text-decoration: none;
    color: initial;
}

.price {
    font-weight: bold;
    font-size: 1.5em;
}

.post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-special-text {
    font-size: 0.9em;
}